<%= form_for(@article) do |article_form| %>
	<ul>
		<li>
			<%= article_form.label :user_id %>
			<%= select('article', 'user_id', User.all.collect {|u| [ u.name, u.id ] }, { :include_blank => true }) %>
		</li>
		<li>
			<%= article_form.label :title %>
			<%= article_form.text_field :title %>
		</li>
		<li>
			<%= article_form.label :body %>
			<%= article_form.text_area :body %>
		</li>
		<li class="button"><%= article_form.submit %></li>
	</ul>
<% end %>