<%= form_for(@article) do |article_form| %>
	<% if @article.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<ul>
		<li>
			<%= article_form.label :author_id %>
			<%= select('article', 'author_id', Author.all.collect {|a| [ a.name, a.id ] }, { :include_blank => true }) %>
		</li>
		<li>
			<%= article_form.label :title %>
			<%= article_form.text_field :title %>
		</li>
		<li>
			<%= article_form.label :body %>
			<%= article_form.text_area :body %>
		</li>
		<li class="button"><%= article_form.submit %></li>
	</ul>
<% end %>