<article class="hentry">
	<header>
		<h1 class="entry-title"><%= @article.title %></h1>
		
		<div class="article-meta">
			<p class="date"><time datetime="<%= @article.created_at.strftime("%Y-	%m-%d:%H:%M%z") %>" class="published updated" pubdate><%= @article.created_at.strftime("#{@article.created_at.day.ordinalize} %b %Y") %></time></p>
			<p class="vcard author">by <%= link_to @article.author.name, @article.author, :class => 'fn n' %></p>
		</div>
		<% if current_author %>
			<ul class="inll article-actions">
				<li class="edit"><%= link_to 'Edit', edit_article_path(@article) %></li>
				<li class="delete"><%= link_to 'Delete', @article, :confirm => "Are you sure you want to delete this article?", :method => :delete %></li>
			</ul>
		<% end %>
	</header>

	<div class="entry-content">
		<%= raw @article.body %>
	</div>
</article>