<h1><%= @user.name %>'s Articles</h1>

<ul>
	<% @user.articles.each do |article| %>
		<li><%= link_to article.title, article %></li>
	<% end %>
</ul>

<p><%= link_to 'All users', users_path %></p>

<% if current_user %>
	<h2>User admin</h2>
	<p><%= link_to 'Edit this user', edit_user_path(@user) %></p>
	<p><%= link_to 'Delete this user', @user, :method => :delete %></p>
<% end %>